@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

div {
  &.introWrapper {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin: 15px;
    h1 {
      font-family: 'MedievalSharp', cursive;
      font-size: 36px;
      text-align: center;
    }
    div {
      &.introText {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 0;
        p{
          &.introText {
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            width: 70%;
            font-size: 22px;
            line-height: 2;
          }
        }
        img {
          &.textImg {
            margin: auto;
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            width: 30%;
            height: 100%;
            &.left {
              padding-left: 10px;
            }
            &.right {
              padding-right: 10px;
            }
          }
        }
      }
    }
    h5 {
      font-size: 28px;
      margin: 0;
      text-align: center;
    }
  }
}
